<mat-card class="custom">
  <mat-card-title>
    <span>Offers:</span>
  </mat-card-title>
  <mat-accordion *ngIf="offers">
    <mat-expansion-panel *ngFor="let o of offers; let i=index;" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{o.title}}
        </mat-panel-title>
        <mat-panel-description>
          Price: {{o.price}}$
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-offer [id]="o.id">
        </app-offer>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="cp" *ngIf="offers.length===0">No data available</p>
</mat-card>
